In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [9]:
data = {
    'State' : ['New York','Montreal','Vancouver','Texas','California','San Frans'],
    'Population' : [1.5, 1.7, 3.6, 2.4, 2.9],
    'Year' : [2000, 2001, 2002, 2001, 2002]
}

In [10]:
frame = pd.DataFrame(data)
frame

        State  Population  Year
0    New York         1.5  2000
1    Montreal         1.7  2001
2   Vancouver         3.6  2002
3       Texas         2.4  2001
4  California         2.9  2002