In [1]:
import pandas as pd

In [2]:
stats = {
    'Year':[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010],
    'City':['Lahore','Karachi','Islamabad','Peshawar','Quetta','Gujranwala','Sialkot','Faisalabad','Chaniot','Gujrat'],
    'Population (Millions)':[6,6.5,5,4.5,4,2.5,2.75,3,4,3.5]
}

In [3]:
frame1 = pd.DataFrame(stats)

In [7]:
frame1.name = 'Population Statistics'

In [8]:
frame1

   Year        City  Population (Millions)
0  2001      Lahore                   6.00
1  2002     Karachi                   6.50
2  2003   Islamabad                   5.00
3  2004    Peshawar                   4.50
4  2005      Quetta                   4.00
5  2006  Gujranwala                   2.50
6  2007     Sialkot                   2.75
7  2008  Faisalabad                   3.00
8  2009     Chaniot                   4.00
9  2010      Gujrat                   3.50

### 1: Append Method
#### Append method appends the rows of another dataframe to the end of the given dataframe.

In [15]:
stats1 = {
    'Year':[2001,2002,2003],
    'City':['Mumbai','Dhaka','Agra'],
    'Population (Millions)':[6,6.5,4.5],
}

In [16]:
frame2 = pd.DataFrame(stats1)

In [17]:
frame2

   Year    City  Population (Millions)
0  2001  Mumbai                    6.0
1  2002   Dhaka                    6.5
2  2003    Agra                    4.5

In [19]:
frame1.append(frame2)

   Year        City  Population (Millions)
0  2001      Lahore                   6.00
1  2002     Karachi                   6.50
2  2003   Islamabad                   5.00
3  2004    Peshawar                   4.50
4  2005      Quetta                   4.00
5  2006  Gujranwala                   2.50
6  2007     Sialkot                   2.75
7  2008  Faisalabad                   3.00
8  2009     Chaniot                   4.00
9  2010      Gujrat                   3.50
0  2001      Mumbai                   6.00
1  2002       Dhaka                   6.50
2  2003        Agra                   4.50

### 2: Difference Method
#### Difference method is used to find discrete difference of objects over the given axis.

In [21]:
frame1.diff(3)

TypeError: unsupported operand type(s) for -: 'str' and 'str'