In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

## Series In Pandas

In [3]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s.values

array([1, 2, 3, 4, 5], dtype=int64)

### Accessing Values with indexes

In [6]:
s[0]

1

In [10]:
s[1]

2

In [11]:
s[2]

3

In [12]:
s[3]

4

In [14]:
s.index = ['a','b','c','d','e']

In [15]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
s['d']

4

In [17]:
s[1]

2

In [18]:
s['b']

2

### Arithmetic Operations With Series

In [19]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
s + s

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [21]:
s - s

a    0
b    0
c    0
d    0
e    0
dtype: int64

In [22]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
s * s

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [24]:
s * 5

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [25]:
s / s

a    1.0
b    1.0
c    1.0
d    1.0
e    1.0
dtype: float64

In [26]:
s // s

a    1
b    1
c    1
d    1
e    1
dtype: int64

In [27]:
s / 5

a    0.2
b    0.4
c    0.6
d    0.8
e    1.0
dtype: float64

In [28]:
s // 5

a    0
b    0
c    0
d    0
e    1
dtype: int64

In [29]:
s ** 2

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [30]:
s ** 0.5

a    1.000000
b    1.414214
c    1.732051
d    2.000000
e    2.236068
dtype: float64

### Overwriting the values on the Series

In [43]:
s['c'] = 5

In [44]:
s

a    1
b    2
c    5
d    4
e    5
dtype: int64

In [45]:
a = s.copy()

In [46]:
a

a    1
b    2
c    5
d    4
e    5
dtype: int64

In [49]:
a['c'] = 10

In [50]:
a

a     1
b     2
c    10
d     4
e     5
dtype: int64

In [51]:
s

a    1
b    2
c    5
d    4
e    5
dtype: int64

### Basic Slicing in the Series

In [55]:
s[['d']]

d    4
dtype: int64

In [56]:
s[[1,2,3]]

b    2
c    5
d    4
dtype: int64

In [57]:
s[['b','c','d']]

b    2
c    5
d    4
dtype: int64

In [58]:
s[s > 0]

a    1
b    2
c    5
d    4
e    5
dtype: int64

In [59]:
s[s < 0]

Series([], dtype: int64)

In [60]:
s[s < 3]

a    1
b    2
dtype: int64

In [61]:
s[s > 3]

c    5
d    4
e    5
dtype: int64

### Detecting Null Values in Series

In [78]:
states_data = pd.Series([27273,68262,73937,63829,23722],index=['Ohio','Texas','California','Vancouver','New York'])
stats

Ohio          27273
Texas         68262
California    73937
Vancouver     63829
New York      23722
dtype: int64

In [79]:
states_data.isnull()

Ohio          False
Texas         False
California    False
Vancouver     False
New York      False
dtype: bool

In [81]:
states = pd.Series(states_data,index=['Utah','California','New York','Vancouver','Texas'])

In [83]:
states

Utah              NaN
California    73937.0
New York      23722.0
Vancouver     63829.0
Texas         68262.0
dtype: float64

In [87]:
states.isnull()

Utah           True
California    False
New York      False
Vancouver     False
Texas         False
dtype: bool

In [88]:
states.notnull()

Utah          False
California     True
New York       True
Vancouver      True
Texas          True
dtype: bool

#### NaN + Number = NaN (and vice versa)
#### NaN - Number = NaN (and vice versa)
#### NaN * Number = NaN (and vice versa)
#### NaN / Number = NaN (and vice versa)

In [90]:
states_data

Ohio          27273
Texas         68262
California    73937
Vancouver     63829
New York      23722
dtype: int64

In [91]:
states

Utah              NaN
California    73937.0
New York      23722.0
Vancouver     63829.0
Texas         68262.0
dtype: float64

In [92]:
states_data + states

California    147874.0
New York       47444.0
Ohio               NaN
Texas         136524.0
Utah               NaN
Vancouver     127658.0
dtype: float64

In [93]:
states_data - states

California    0.0
New York      0.0
Ohio          NaN
Texas         0.0
Utah          NaN
Vancouver     0.0
dtype: float64

In [94]:
states_data * states

California    5.466680e+09
New York      5.627333e+08
Ohio                   NaN
Texas         4.659701e+09
Utah                   NaN
Vancouver     4.074141e+09
dtype: float64

In [95]:
states_data / states

California    1.0
New York      1.0
Ohio          NaN
Texas         1.0
Utah          NaN
Vancouver     1.0
dtype: float64

### Giving name to series and indices

In [97]:
states_data

Ohio          27273
Texas         68262
California    73937
Vancouver     63829
New York      23722
dtype: int64

In [98]:
states_data.name = 'Population Record'

In [100]:
states_data.index.name = 'Stattes'